
block mainContent
  div.trn-chart
    table.table.table-condensed.table-hover
      thead
        tr
          th Train to
          th Arriving in (mins)        
      tbody 
        each item in data
          tr 
            td #{item.name} 
            td #{item.depTimes}
    
