!!! 5
html(lang='en')  
  head  
    title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src='http://code.jquery.com/jquery-1.8.1.js')
    script(src='/bootstrap/js/bootstrap.js')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/css/common.css')
    link(rel='stylesheet', href="/bootstrap/css/bootstrap-responsive.css")
  body  
    div.container-fluid
      div.row-fluid
        div.span2
          div.trn-container
            <!-- Sidebar --> 		
        div.span10
          - if (typeof (data) != 'undefined')
              div.trn-chart
                table.table.table-condensed.table-hover
                  thead
                    tr
                      th Train to
                      th Arriving in (mins)        
                  tbody 
                    each item in data
                      tr
                      - if (item.depTimes.length>0) 
                        td #{item.name}
                        each depTime in item.depTimes     
                          td.deptime #{depTime}
          - else
              h3 
                a(href="/foursquareredirect") Connect with Foursquare